.clients {
    background-color: black;

    .clients-inf {
        margin: 0 auto;
        padding-top: 100px;
        padding-bottom: 100px;
        width: 1100px;

        .clients-body {
            display: flex;
            justify-content: space-between;

            .say {
                width: 370px;
                height: 305px;
                box-shadow: 20px 20px #e8bf5d;


                img {
                    width: 100%;
                    height: 100%;
                }
            }

            p {
                width: 600px;
                font-family: Open Sans;
                font-size: 14px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 2.21;
                letter-spacing: 0.56px;
                text-align: left;
                color: #ffffff;
            }

            h4 {
                margin-top: 40px;
                font-family: Playfair Display;
                font-size: 21px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.48;
                letter-spacing: 0.84px;
                text-align: left;
                color: #ffffff
            }
        }
    }
}
