.header {
    width: 100%;
    height: 110px;
    background-color: #ffffff;
    border: 4px solid black;

    .main-header {
        display: flex;
        justify-content: space-between;
        margin: auto;
        position: relative;
        top: 50%;
        transform: translate(0, -50%);
        width: 1170px;


        h1 {
            font-family: PlayfairDisplay;
            font-size: 25px;
            font-weight: bold;
            line-height: 1;
            letter-spacing: 1px;
            text-align: left;
            text-transform: uppercase;
            color: #111111;
        }

        h1::after {
            content: ".";
            color: #e8bf5d;
        }

        .navigation {
            width: 655px;

            ul {
                display: flex;
                justify-content: space-around;

                li {
                    margin: auto;

                    a {
                        font-family: Open Sans;
                        font-size: 14px;
                        line-height: 1;
                        letter-spacing: 0.56px;
                        text-align: right;
                        text-transform: uppercase;
                        color: #111111;
                    }

                    a:hover {
                        border-bottom: 5px solid #e8bf5d;
                        padding-bottom: 14px;
                        color: #e8bf5d;
                    }
                }
            }
        }
    }
}
