.product {
    background-color: #111111;

    .product-inf {
        margin: 0 auto;
        padding-top: 100px;
        padding-bottom: 100px;
        width: 1100px;

        .product-body {
            margin: 0 auto;
            width: 990px;

            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                li + li + li {
                    margin-top: 75px;
                }

                li {
                    position: relative;
                    padding-left: 90px;
                    width: 450px;

                    h4 {
                        margin-bottom: 32px;
                        font-family: Playfair Display;
                        font-size: 21px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1;
                        letter-spacing: 0.84px;
                        text-align: left;
                        color: #ffffff;
                    }

                    p {
                        font-family: Open Sans;
                        font-size: 14px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 2.21;
                        letter-spacing: 0.56px;
                        text-align: left;
                        color: #ffffff;
                    }
                }

                li::before {
                    content: '';
                    background-image: url(../img/heands.png);
                    position: absolute;
                    left: 0px;
                    width: 58px;
                    height: 38px;
                }

                li + li::before {
                    content: '';
                    background-image: url(../img/wrench.png);
                    position: absolute;
                    left: 0px;
                    width: 42px;
                    height: 42px;
                }

                li + li + li::before {
                    content: '';
                    background-image: url(../img/monitor.png);
                    position: absolute;
                    left: 0px;
                    width: 49px;
                    height: 43px;
                }

                li + li + li + li::before {
                    content: '';
                    background-image: url(../img/house.png);
                    position: absolute;
                    left: 0px;
                    width: 42px;
                    height: 33px;
                }
            }
        }
    }
}
