.question {
    background-color: black;

    .question-inf {
        margin: 0 auto;
        padding-top: 100px;
        padding-bottom: 170px;
        width: 1070px;

        .question-body {

            p {
                padding: 46px 47px 66px;
                width: 500px;
                background-color: #e8bf5d;
                font-family: Open Sans;
                font-size: 14px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 2.21;
                letter-spacing: 0.56px;
                text-align: left;
                color: black;
            }
        }
    }
}
