.about-us-header, .product-header, .team-header, .clients-header, .publications-header, .question-header {
    margin: 0 auto 70px;
    padding: 0 0 0 19px;
    border-left: 2px solid #e8bf5d;

    h3 {
        margin-bottom: 29px;
        font-family: Playfair Display;
        font-size: 31px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: 1.24px;
        text-align: left;
        color: #111111;
    }

    p {
        width: 762px;
        font-family: PlayfairDisplay;
        font-size: 21px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.48;
        letter-spacing: 0.84px;
        text-align: left;
        color: #666666;
    }
}
