.about-us-header, .product-header, .team-header, .clients-header, .publications-header, .question-header, .contact-header {
    margin: 0 auto 70px;
    padding: 0 0 0 19px;
    border-left: 2px solid #e8bf5d;


    h3 {
        position: relative;
        z-index: 2;
        margin-bottom: 29px;
        font-family: Playfair Display;
        font-size: 31px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: 1.24px;
        text-align: left;
        color: #111111;
    }



    p {
        position: relative;
        z-index: 2;
        width: 762px;
        font-family: PlayfairDisplay;
        font-size: 21px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.48;
        letter-spacing: 0.84px;
        text-align: left;
        color: #666666;
    }
}

.product-header,.clients-header,.question-header{
    h3 {
        color: #ffffff;
    }

    p {
        color: #b9b9b9;
    }
}


.about-us-header::before, .team-header::before, .publications-header::before, .contact-header::before {
    counter-increment: section;
    content: '0'counter(section);
    position: absolute;
    z-index: 1;
    font-family: Open Sans;
    font-size: 194.5px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.5;
    letter-spacing: 7.78px;
    text-align: left;
    color: #f3f3f3;
}

.product-header::before, .clients-header::before, .question-header::before,{
    counter-increment: section;
    content: '0'counter(section);
    position: absolute;
    z-index: 1;
    font-family: Open Sans;
    font-size: 194.5px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.5;
    letter-spacing: 7.78px;
    text-align: left;
    color: #171717;
}
