.team {
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 1170px;

    ul {
        display: flex;
        justify-content: space-between;

        h4 {
            margin-top: 29px;
            font-family: Playfair Display;
            font-size: 21px;
            line-height: 1;
            letter-spacing: 0.84px;
            color: #111111;
        }

        p {
            margin-top: 10px;
            font-family: Open Sans;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1;
            letter-spacing: 0.56px;
            text-align: left;
            color: #666666;
        }


        .team-photo {
            width: 270px;
            height: 300px;

            img {
                width: 100%;
            }
        }
    }
}
