.welcome {
    padding-top: 605px;
    background-image: url(../img/welcome.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  
    .welcome-box {
        display: flex;
        justify-content: space-between;
        position: relative;
        top: 50%;
        transform: translate(0, -50%);
        margin: 0 auto;
        width: 950px;

        .welcome-name {
            border-left: 3px solid #e8bf5d;
            padding: 0 0 0 16px;
            font-family: Playfair Display;

            h2 {
                font-family: Playfair Display;
                font-size: 65px;
                line-height: 1;
                letter-spacing: 2.6px;
                text-align: left;
                color: #ffffff;
            }

            p {
                font-family: Playfair Display;
                font-size: 33px;
                line-height: 1;
                letter-spacing: 2.6px;
                text-align: left;
                color: #ffffff;
            }
        }

        button {
            position: relative;
            top: 50%;
            transform: translate(0, 50%);
            padding: 0;
            height: 50px;
            width: 180px;
            border-radius: 25px;
            background-color: #e8bf5d;
            font-family: Playfair Display;
            font-size: 16px;
            line-height: 1;
            letter-spacing: 0.64px;
            text-align: center;
            color: #111111;
        }
    }
}