@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
.header {
  width: 100%;
  height: 110px;
  background-color: #ffffff;
}
.header .main-header {
  display: flex;
  justify-content: space-between;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  width: 1170px;
}
.header .main-header h1 {
  font-family: Playfair Display;
  font-size: 25px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 1px;
  text-align: left;
  text-transform: uppercase;
  color: #111111;
}
.header .main-header h1::after {
  content: ".";
  color: #e8bf5d;
}
.header .main-header .navigation {
  width: 655px;
}
.header .main-header .navigation ul {
  display: flex;
  justify-content: space-around;
}
.header .main-header .navigation ul li {
  margin: auto;
}
.header .main-header .navigation ul li a {
  font-family: Open Sans;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.56px;
  text-align: right;
  text-transform: uppercase;
  color: #111111;
}
.header .main-header .navigation ul li a:hover {
  border-bottom: 5px solid #e8bf5d;
  padding-bottom: 14px;
  color: #e8bf5d;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
a {
  text-decoration: none;
  cursor: pointer;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  border: 0;
}

button:active {
  border: 0;
}

.welcome {
  padding-top: 605px;
  background-image: url(../img/welcome.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.welcome .welcome-box {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  margin: 0 auto;
  width: 950px;
}
.welcome .welcome-box .welcome-name {
  border-left: 3px solid #e8bf5d;
  padding: 0 0 0 16px;
  font-family: Playfair Display;
}
.welcome .welcome-box .welcome-name h2 {
  font-family: Playfair Display;
  font-size: 65px;
  line-height: 1;
  letter-spacing: 2.6px;
  text-align: left;
  color: #ffffff;
}
.welcome .welcome-box .welcome-name p {
  font-family: Playfair Display;
  font-size: 33px;
  line-height: 1;
  letter-spacing: 2.6px;
  text-align: left;
  color: #ffffff;
}
.welcome .welcome-box button {
  position: relative;
  top: 50%;
  transform: translate(0, 50%);
  padding: 0;
  height: 50px;
  width: 180px;
  border-radius: 25px;
  background-color: #e8bf5d;
  font-family: Playfair Display;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.64px;
  text-align: center;
  color: #111111;
}

.about-us-header {
  margin: 0 auto 70px;
  padding: 0 0 0 19px;
  border-left: 2px solid #e8bf5d;
}
.about-us-header h3 {
  margin-bottom: 29px;
  font-family: Playfair Display;
  font-size: 31px;
  line-height: 1;
  letter-spacing: 1.24px;
  text-align: left;
  color: #111111;
}
.about-us-header p {
  width: 762px;
  font-family: Playfair Display;
  font-size: 21px;
  line-height: 1.48;
  letter-spacing: 0.84px;
  text-align: left;
  color: #666666;
}

.about-us {
  margin: 100px auto 0;
  width: 1090px;
}
.about-us .about-us-body {
  display: flex;
  justify-content: space-between;
}
.about-us .about-us-body .about-us-body-left {
  width: 560px;
}
.about-us .about-us-body .about-us-body-left h4 {
  font-family: Playfair Display;
  font-size: 21px;
  line-height: 1.48;
  letter-spacing: 0.84px;
  text-align: left;
  color: #111111;
}
.about-us .about-us-body .about-us-body-left ol {
  flex-wrap: wrap-reverse;
  flex-direction: row-reverse;
  display: inline-flex;
  counter-reset: year 2013;
  list-style-position: outside;
}
.about-us .about-us-body .about-us-body-left ol li {
  margin-top: 35px;
  font-family: Open Sans;
  font-size: 16px;
  line-height: 1.31;
  letter-spacing: 0.64px;
  text-align: left;
  color: #111111;
}
.about-us .about-us-body .about-us-body-left ol li::before {
  display: inline-block;
  vertical-align: middle;
  float: left;
  margin-right: 48px;
  content: counter(year) "-";
  counter-increment: year;
  font-family: Open Sans;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.84px;
  text-align: left;
  color: #111111;
}
.about-us .about-us-body .about-us-body-right {
  width: 490px;
}
.about-us .about-us-body .about-us-body-right h4 {
  margin-bottom: 35px;
  font-family: Playfair Display;
  font-size: 21px;
  line-height: 1.48;
  letter-spacing: 0.84px;
  text-align: left;
  color: #111111;
}
.about-us .about-us-body .about-us-body-right p {
  font-family: Open Sans;
  font-size: 14px;
  line-height: 2.21;
  letter-spacing: 0.56px;
  text-align: left;
  color: #666666;
}

/*# sourceMappingURL=style.css.map */
