@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
.header {
  width: 100%;
  height: 110px;
  background-color: #ffffff;
}
.header .main-header {
  display: flex;
  justify-content: space-between;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  width: 1170px;
}
.header .main-header h1 {
  font-family: Playfair Display;
  font-size: 25px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 1px;
  text-align: left;
  text-transform: uppercase;
  color: #111111;
}
.header .main-header h1::after {
  content: ".";
  color: #e8bf5d;
}
.header .main-header .navigation {
  width: 655px;
}
.header .main-header .navigation ul {
  display: flex;
  justify-content: space-around;
}
.header .main-header .navigation ul li {
  margin: auto;
}
.header .main-header .navigation ul li a {
  font-family: Open Sans;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.56px;
  text-align: right;
  text-transform: uppercase;
  color: #111111;
}
.header .main-header .navigation ul li a:hover {
  border-bottom: 5px solid #e8bf5d;
  padding-bottom: 14px;
  color: #e8bf5d;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
a {
  text-decoration: none;
  cursor: pointer;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  border: 0;
}

button:active {
  border: 0;
}

.welcome {
  padding-top: 605px;
  background-image: url(../img/welcome.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.welcome .welcome-box {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  margin: 0 auto;
  width: 950px;
}
.welcome .welcome-box .welcome-name {
  border-left: 3px solid #e8bf5d;
  padding: 0 0 0 16px;
  font-family: Playfair Display;
}
.welcome .welcome-box .welcome-name h2 {
  font-family: Playfair Display;
  font-size: 65px;
  line-height: 1;
  letter-spacing: 2.6px;
  text-align: left;
  color: #ffffff;
}
.welcome .welcome-box .welcome-name p {
  font-family: Playfair Display;
  font-size: 33px;
  line-height: 1;
  letter-spacing: 2.6px;
  text-align: left;
  color: #ffffff;
}
.welcome .welcome-box button {
  position: relative;
  top: 50%;
  transform: translate(0, 50%);
  padding: 0;
  height: 50px;
  width: 180px;
  border-radius: 25px;
  background-color: #e8bf5d;
  font-family: Playfair Display;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.64px;
  text-align: center;
  color: #111111;
}

.about-us-header, .product-header, .team-header, .clients-header, .publications-header, .question-header, .contact-header {
  margin: 0 auto 70px;
  padding: 0 0 0 19px;
  border-left: 2px solid #e8bf5d;
}
.about-us-header h3, .product-header h3, .team-header h3, .clients-header h3, .publications-header h3, .question-header h3, .contact-header h3 {
  margin-bottom: 29px;
  font-family: Playfair Display;
  font-size: 31px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 1.24px;
  text-align: left;
  color: #111111;
}
.about-us-header p, .product-header p, .team-header p, .clients-header p, .publications-header p, .question-header p, .contact-header p {
  width: 762px;
  font-family: PlayfairDisplay;
  font-size: 21px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.48;
  letter-spacing: 0.84px;
  text-align: left;
  color: #666666;
}

.about-us {
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 1100px;
}
.about-us .about-us-body {
  display: flex;
  justify-content: space-between;
}
.about-us .about-us-body .about-us-body-left {
  width: 560px;
}
.about-us .about-us-body .about-us-body-left h4 {
  font-family: Playfair Display;
  font-size: 21px;
  line-height: 1.48;
  letter-spacing: 0.84px;
  text-align: left;
  color: #111111;
}
.about-us .about-us-body .about-us-body-left ol {
  flex-wrap: wrap-reverse;
  flex-direction: row-reverse;
  display: inline-flex;
  counter-reset: year 2013;
  list-style-position: outside;
}
.about-us .about-us-body .about-us-body-left ol li {
  margin-top: 35px;
  font-family: Open Sans;
  font-size: 16px;
  line-height: 1.31;
  letter-spacing: 0.64px;
  text-align: left;
  color: #111111;
}
.about-us .about-us-body .about-us-body-left ol li::before {
  display: inline-block;
  vertical-align: middle;
  float: left;
  margin-right: 48px;
  content: counter(year) "-";
  counter-increment: year;
  font-family: Open Sans;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.84px;
  text-align: left;
  color: #111111;
}
.about-us .about-us-body .about-us-body-right {
  width: 490px;
}
.about-us .about-us-body .about-us-body-right h4 {
  margin-bottom: 35px;
  font-family: Playfair Display;
  font-size: 21px;
  line-height: 1.48;
  letter-spacing: 0.84px;
  text-align: left;
  color: #111111;
}
.about-us .about-us-body .about-us-body-right p {
  font-family: Open Sans;
  font-size: 14px;
  line-height: 2.21;
  letter-spacing: 0.56px;
  text-align: left;
  color: #666666;
}

.product {
  background-color: #111111;
}
.product .product-inf {
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 1100px;
}
.product .product-inf .product-header h3 {
  color: #ffffff;
}
.product .product-inf .product-header p {
  color: #b9b9b9;
}
.product .product-inf .product-body {
  margin: 0 auto;
  border: 2px solid white;
  width: 990px;
}
.product .product-inf .product-body ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product .product-inf .product-body ul li + li + li {
  margin-top: 75px;
}
.product .product-inf .product-body ul li {
  width: 435px;
}
.product .product-inf .product-body ul li h4 {
  margin-bottom: 32px;
  font-family: Playfair Display;
  font-size: 21px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.84px;
  text-align: left;
  color: #ffffff;
}
.product .product-inf .product-body ul li p {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.21;
  letter-spacing: 0.56px;
  text-align: left;
  color: #ffffff;
}

.team {
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 1170px;
}
.team ul {
  display: flex;
  justify-content: space-between;
}
.team ul h4 {
  margin-top: 29px;
  font-family: Playfair Display;
  font-size: 21px;
  line-height: 1;
  letter-spacing: 0.84px;
  color: #111111;
}
.team ul p {
  margin-top: 10px;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.56px;
  text-align: left;
  color: #666666;
}
.team ul .team-photo {
  width: 270px;
  height: 300px;
}
.team ul .team-photo img {
  width: 100%;
}

.clients {
  background-color: black;
}
.clients .clients-inf {
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 1100px;
}
.clients .clients-inf .clients-header h3 {
  color: #ffffff;
}
.clients .clients-inf .clients-header p {
  color: #b9b9b9;
}
.clients .clients-inf .clients-body {
  display: flex;
  justify-content: space-between;
}
.clients .clients-inf .clients-body .say {
  width: 370px;
  height: 305px;
  box-shadow: 20px 20px #e8bf5d;
}
.clients .clients-inf .clients-body .say img {
  width: 100%;
  height: 100%;
}
.clients .clients-inf .clients-body p {
  width: 600px;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.21;
  letter-spacing: 0.56px;
  text-align: left;
  color: #ffffff;
}
.clients .clients-inf .clients-body h4 {
  margin-top: 40px;
  font-family: Playfair Display;
  font-size: 21px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.48;
  letter-spacing: 0.84px;
  text-align: left;
  color: #ffffff;
}

.publications {
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 1170px;
}
.publications .last-publications {
  display: flex;
  justify-content: space-between;
}
.publications .last-publications li {
  padding-bottom: 29px;
  width: 370px;
  border-bottom: 3px solid #e8bf5d;
}
.publications .last-publications li .article-img {
  width: 370px;
  height: 300px;
}
.publications .last-publications li .article-img img {
  width: 100%;
}
.publications .last-publications li h4 {
  margin-top: 30px;
  font-family: Playfair Display;
  font-size: 21px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.84px;
  text-align: left;
  color: #111111;
}
.publications .last-publications li .author-date {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.publications .last-publications li .author-date h5 {
  margin: 0;
  font-family: Open Sans;
  font-size: 16px;
  line-height: 1;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.64px;
  color: #111111;
}
.publications .last-publications li .author-date h5::before, .publications .last-publications li .author-date .date {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  font-style: italic;
  line-height: 1;
  letter-spacing: 0.64px;
  color: #666666;
}
.publications .last-publications li .author-date h5::before {
  content: "By ";
}
.publications .last-publications li p {
  margin-top: 38px;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.21;
  letter-spacing: 0.56px;
  text-align: left;
  color: #666666;
}
.publications .last-publications li .comments-share {
  margin-top: 39px;
  display: flex;
  justify-content: space-between;
}
.publications .last-publications li .comments-share a {
  position: relative;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.64px;
  color: #111111;
}
.publications .last-publications li .comments::before {
  content: "";
  background-image: url(../img/comments.png);
  margin-right: 8px;
  float: left;
  background-size: cover;
  height: 16px;
  width: 18px;
}
.publications .last-publications li .share::before {
  content: "";
  background-image: url(../img/share.png);
  margin-right: 8px;
  float: left;
  background-size: cover;
  height: 16px;
  width: 18px;
}

.question {
  background-color: black;
}
.question .question-inf {
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 170px;
  width: 1070px;
}
.question .question-inf .question-header h3 {
  color: #ffffff;
}
.question .question-inf .question-header p {
  color: #b9b9b9;
}
.question .question-inf .question-body p {
  padding: 46px 47px 66px;
  width: 500px;
  background-color: #e8bf5d;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.21;
  letter-spacing: 0.56px;
  text-align: left;
  color: black;
}

.contact {
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 76px;
  width: 1070px;
}
.contact .contact-body {
  padding-top: 55px;
  padding-bottom: 51px;
  margin: 70px auto auto 150px;
  width: 870px;
  display: flex;
  justify-content: space-around;
  box-shadow: 4px 4px 77px -33px #5A5B5B;
}
.contact .contact-body .contact-form {
  width: 350px;
  display: block;
}
.contact .contact-body .contact-form input, .contact .contact-body .contact-form textarea {
  margin-top: 35px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #b9b9b9;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 2.21;
  letter-spacing: 0.56px;
  text-align: left;
  color: #b9b9b9;
}
.contact .contact-body .contact-form .form-btn {
  width: 170px;
  height: 50px;
  padding: 17px 32px 17px 31px;
  border-radius: 25px;
  background-color: #e8bf5d;
  font-family: Playfair Display;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.64px;
  text-align: center;
  color: #111111;
}
.contact .contact-body .map {
  box-shadow: -25px 25px #e8bf5d;
  width: 363px;
  height: 363px;
}

/*# sourceMappingURL=style.css.map */
